body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle at top right, #e0feff, #88a2db);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 20px;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 500px; /* Added max-width for responsiveness */
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.12);
}

h1 {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  background: linear-gradient(to right, #ff6b6b, #ffe66d);
  color: #3e3e3e;
  border: none;
  padding: 12px 24px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(to right, #ff9147, #ffd166);
}

p {
  color: #fff;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  transition: background 0.3s, transform 0.3s;
  transform-origin: center;
}

li:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  /* Adjust styles for mobile devices */
  .container {
    width: 90%;
  }

  h1 {
    font-size: 2em;
  }

  button {
    padding: 10px 20px;
    font-size: 1em;
  }

  li {
    padding: 15px;
  }
}
